@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Imagen central-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <img src="../../Content/img/index.jpg" alt="index">
            <div class="carousel-caption">
                <h2>
                    Providere es la aplicación de los servicios para el hogar</h2>
                <br />
                <p>
                    Te proponemos un lugar de encuentro entre las personas que buscan servicios a domicilio,
                    y aquellos profesionales autónomos que ofrecen estos servicios.</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.providere.com.ar"
                    data-text="Providere, servicios generales para el hogar. Visita nuestro sitio en:"
                    data-via="providere_arg" data-hashtags="ProvidereArgentina">Tweet</a>
                <br />
                <br />
                <div class="modalBox2">
                    <a data-toggle="modal" href="#myModal2" class="btn btn-primary btn-large">Registrarme
                        gratis!</a>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<!--fin imagen central-->
<div id="publicaciones-destacadas">
    <h2>
        Publicaciones destacadas</h2>
    <div class="row">
        <div class="col-md-11">
            <div class="col-md-3">
                <img src="../../Content/img/plomero.jpg" alt="plomero" class="img-thumbnail" width="100%"/></div>
            <div class="col-md-9">
                <h3>
                    <a href="#">Pedro Gomez</a></h3>
                <span>Plomeria</span> <span class="badge">20</span>
                <br />
                <br />
                <span><a href="#">Gasista Matriculado Plomero Presupuestos Y Visitas Sin Cargo</a></span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-11">
            <div class="col-md-3">
                <img src="../../Content/img/plomero.jpg" alt="electricista" class="img-thumbnail"
                    width="100%"/></div>
            <div class="col-md-9">
                <h3>
                    <a href="#">Marcos Aguirre</a></h3>
                <span>Electricista</span> <span class="badge">5</span>
                <br>
                <br />
                <span><a href="#">Electricista Matriculado Zona Sur</a></span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-11">
            <div class="col-md-3">
                <img src="../../Content/img/plomero.jpg" alt="jardinero" class="img-thumbnail" width="100%"/></div>
            <div class="col-md-9">
                <h3>
                    <a href="#">Roberto Peralta</a></h3>
                <span>Jardineria</span> <span class="badge">100</span>
                <br />
                <br />
                <span><a href="#">Jardinería - Paisajismo - Mantenimientos - Parquizados en zona oeste</a></span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-11">
            <div class="col-md-3">
                <img src="../../Content/img/plomero.jpg" alt="jardinero" class="img-thumbnail" width="100%"/></div>
            <div class="col-md-9">
                <h3>
                    <a href="#">Pedro Lanus</a></h3>
                <span>Carpinteria</span> <span class="badge">1</span>
                <br />
                <br />
                <span><a href="#">Trabajos de carpinteria en Merlo - San Luis</a></span>
            </div>
        </div>
    </div>
</div>
