@model Providere.Models.Usuario
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Providere</title>
    <link rel="Stylesheet" type="text/css" media="all" href="../../Content/css/bootstrap.css" />
    <link rel="Stylesheet" type="text/css" media="all" href="../../Content/css/core.css" />
    <!-- Core Scripts -->
    <script language="javascript" type="text/javascript" src="../../Scripts/js/jquery-1.10.2.js"></script>
    <script language="javascript" type="text/javascript" src="../../Scripts/js/bootstrap.min.js"></script>
    <!-- Twitter -->
    <script language="javascript" type="text/javascript">
        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); }
        } (document, 'script', 'twitter-wjs');
    </script>
    <!-- Google Maps -->
    <script language="javascript" type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="../../Scripts/js/jquery.geocomplete.js"></script>
    <script language="javascript" type="text/javascript">
        $(function () {

            $("#geocomplete").geocomplete({ types: ['(cities)'] })
          .bind("geocode:result", function (event, result) {
              $.log("Result: " + result.formatted_address);
          })
          .bind("geocode:error", function (event, status) {
              $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function (event, results) {
              $.log("Multiple: " + results.length + " results found");
          });

            $("#find").click(function () {
                $("#geocomplete").trigger("geocode");
            });


            $("#examples a").click(function () {
                $("#geocomplete").val($(this).text()).trigger("geocode");
                return false;
            });

        });
    </script>
    <link href="../../Content/img/logosquare.png" rel="shortcut icon" type="image/png" />
</head>
<body data-twttr-rendered="true">
    <div>
        <div class="portada">
            <div class="container">
                <div class="header">
                    <div id="contenedor-logo" class="col-md-6">
                        <img src="../../Content/img/logotransparente.png" alt="Providere" width="90%" />
                    </div>
                    <div id="contenedor-botones-index" class="col-md-6">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <div class="modalBox">
                                    <a href="@Url.Action("RegistrarUsuario", "Usuario")" class="btn btn-primary btn-large">
                                        <span class="glyphicon glyphicon-list"></span>Registrarme</a>
                                    <br />
                                    <br />
                                </div>
                            </li>
                            <li>
                                <div class="modalBox2">
                                    <a href="@Url.Action("IniciarSesion", "Usuario")" class="btn btn-primary btn-large">
                                        <span class="glyphicon glyphicon-user"></span>Iniciar Sesion</a>
                                    <br />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <h2>
                    La aplicación de los servicios para el hogar</h2>
                <p>
                    Te proponemos un lugar de encuentro entre las personas que buscan servicios a domicilio,
                    y aquellos profesionales autónomos que ofrecen estos servicios.</p>
                <span><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.providere.com.ar"
                    data-text="Providere, servicios generales para el hogar. Visita nuestro sitio en:"
                    data-via="providere_arg" data-hashtags="ProvidereArgentina">Tweet</a>
                    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fprovidere.com.ar&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21"
                        scrolling="no" frameborder="0" style="border: none; overflow: hidden; height: 21px;"
                        allowtransparency="true"></iframe>
                </span>
                <br />
                <br />
                <br />
                <div class="margin-top">
                    <div id="buscador" class="row">
                        <div class="col-md-5">
                            <select class="form-control">
                                <option>Seleccione rubro</option>
                                <option>Plomeria</option>
                                <option>Gasista</option>
                                <option>Electricista</option>
                                <option>Enfermeria</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input id="geocomplete" type="text" class="form-control" placeholder="Ingrese ubicacion. Ej:San Justo"
                                    autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input id="btnBuscar" type="submit" value="Buscar" class="btn btn-primary btn-block" />
                            <br />
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </div>
            </div>
        </div>
        <!--fin imagen central-->
        <div class="container">
            <div id="publicaciones-destacadas" class="listado-publicaciones">
                <h2>
                    Publicaciones destacadas</h2>
                <br />
                @if (ViewBag.Publicaciones.listadoDePublicaciones.Count > 0)
                {
                    <div class="row">
                    @foreach (var item in ViewBag.Publicaciones.listadoDePublicaciones)
                    {         
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img src="../../Content/img/plomero.jpg" alt="plomero" width="100%" />
                                <div class="caption">
                                    <h3>
                                        Pedro Gomez</h3>
                                    <strong>Rubro</strong> <span class="badge">25</span>
                                    <p class="text-muted">
                                        @item.Titulo</p>
                                    <p>
                                        <a href="#" class="btn btn-primary btn-block" role="button">Ver la publicación</a>
                                    </p>
                                </div>
                            </div>
                        </div>        
                    }
                </div>
                }
                else
                {
                    <div class="text-center">
                        <span class="text-muted">Hoy no hay publicaciones destacadas.</span>
                    </div>
                }
            </div>
        </div>
    </div>
    <br />
    <footer>
        <div class="container">
            <div class="col-md-4">
                <img src="../../Content/img/logoSquare.png" alt="logo" width="12%" />
                <span class="text-info">©2014 | Todos los derechos reservados</span>
            </div>
           <div class="col-md-4 text-center">
                 <span class="text-info">
                    <a data-toggle="modal" href="#myModalProvidere">Acerca de Providere</a> | <a href="#">FAQ</a> | <a href="mailto:providere_arg@gmail.com">
                        Contacto</a> 
                </span>
            </div>
            <div class="iconos-sociales col-md-4">
                <a href="#">
                    <img src="../../Content/img/facebook.png" alt="facebook" width="12%" />
                </a><a href="#" class="margin-top">
                    <img src="../../Content/img/twitter.png" alt="twitter" width="12%" />
                </a>
            </div>
        </div>
        <!--container del footer-->
    </footer>
    <!-- Modal Como Funciona-->
    <div class="modal" id="myModalProvidere">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;</button>
                    <h4 class="modal-title">
                        Mas información sobre Providere</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <h4>
                                            ¿Qué es Providere?</h4>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <blockquote>
                                        <p>
                                            En Providere, de manera fácil y clara, podes encontrar al profesional autónomo para
                                            resolver todas aquellas tareas que, de forma circunstancial o programada, necesitas
                                            atender para el buen funcionamiento de tu hogar.
                                            <br />
                                            ¿Necesitas una empleada de hogar, una niñera?
                                            <br />
                                            ¿Buscas personal cualificado para atender las necesidades y el cuidado de tus mayores
                                            o enfermos?
                                            <br />
                                            Querés realizar una reforma en tu hogar:¿Necesitas pintor,electricista,carpintero
                                            o un albañil?
                                            <br />
                                            Si eres profesional autónomo o particular, y ofreces cualquier servicio a domicilio,
                                            este es tu espacio web. Simplemente te registras y ya podes publicar una oferta
                                            del servicio que prestas.
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        <h4>
                                            ¿Cómo funciona Providere?</h4>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <blockquote>
                                        <p>
                                            Providere contiene un motor de búsqueda centrado exclusivamente en los servicios
                                            a domicilio.<br />
                                            Te proporcionamos la posibilidad de encontrar al profesional que necesitas en el
                                            ámbito de los servicios a domicilio de la siguiente manera:
                                            <br />
                                            Podes hacer una búsqueda entre los usuarios que hayan publicado el servicio que
                                            prestan, ordenados por rubros y ubicación.
                                            <br />
                                            Tenes que estar registrado en el sistema para poder ponerte en contacto con quien
                                            vos quieras sin que Providere intervenga en la contratación.
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="pac-container hdpi" style="display: none; width: 447px; position: absolute;
        left: 621px; top: 456px;">
    </div>
</body>
</html>
