@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../Content/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../../Content/css/core.css" />
    <script type="text/javascript" language="javascript" src="../../Scripts/js/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="../../Scripts/js/bootstrap.js"></script>
    <link href="../../Content/img/logosquare.png" rel="shortcut icon" type="image/png" />
</head>
<body>
    <div class="header ">
        <div class="container">
            <div class="col-md-12">
                <div style="margin-bottom: 29px;" id="contenedor-logo" class="col-md-6">
                    <a href="@Url.Action("Index", "Index")">
                        <img src="../../Content/img/logotransparente.png" alt="providere" width="90%" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contenedor-imagen col-md-4">
            <img alt="" src="../../Content/img/Error.png" />
        </div>
        <div class="col-md-6">
            <h2 class="text-danger">
                <p>
                    Lo sentimos, se produjo un error al procesar la solicitud.</p>
            </h2>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="col-md-4">
                <img src="../../Content/img/logoSquare.png" alt="logo" width="12%" />
                <span class="text-info">©2014 | Todos los derechos reservados</span>
            </div>
             <div class="col-md-4 text-center">
                <p>
                    <a data-toggle="modal" href="#myModalFunciona">Ayuda</a> | <a href="mailto:providere_arg@gmail.com">
                        Contacto</a>
                </p>
            </div>
        </div>
        <!--container del footer-->
    </footer>
    <!--container del footer-->
</body>
</html>
