@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../Content/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../../Content/css/core.css" />
    <script type="text/javascript" language="javascript" src="../../Scripts/js/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="../../Scripts/js/bootstrap.js"></script>
    <link href="../../Content/img/logoSolo.png" rel="shortcut icon" type="image/png" />
</head>
<body>
    <div class="header navbar navbar-default">
        <div class="container">
            <div id="contenedor-logo" class="col-md-6">
                <a href="#">
                    <img src="../../Content/img/logotransparente.png" alt="Providere" width="100%" /></a>
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="text-danger">
            <p>
                Lo sentimos, se produjo un error al procesar la solicitud.</p>
        </h3>
    </div>
    <div id="footer" class=" navbar-default">
        <div class="container">
            <div class="col-md-4">
                <img src="../../Content/img/logoFooter.png" alt="logo" width="15%" />
                <span class="text-info">@Html.ActionLink("Providere", "Index", "Index")</span>
            </div>
        </div>
        <!--container del footer-->
    </div>
</body>
</html>
