 <footer>
        <div class="container">
            <div class="col-md-4 col-sm-2 col-xs-2 row">
            <div class="mini-logo col-xs-2 col-md-2 col-sm-2">
                <img src="../../Content/img/logobeziermini.png" alt="logo" class=" img-responsive" />
                </div>
                <span class="col-xs-9 col-md-9 col-sm-9 text-info">©2015 <span class="hidden-sm hidden-xs">| Todos los derechos reservados</span></span>
            </div>
           <div class="col-md-5 text-center col-sm-8 col-xs-8">
               <span class="text-info">
                    <a data-toggle="modal" href="#myModalProvidere">Acerca de Providere</a> | <a href="@Url.Action("FAQ", "Shared")">FAQ</a> | <a href="mailto:providere_arg@gmail.com">
                        Contacto</a> 
               </span>
           </div>
            <div class="iconos-sociales hidden-xs hidden-sm">
                <a href="#">
                    <img src="../../Content/img/facebook.png" alt="facebook" class="col-xs-1 col-md-1 col-sm-1 img-responsive"  />
                </a><a href="#" class="margin-top">
                    <img src="../../Content/img/twitter.png" alt="twitter" class="col-xs-1 col-md-1 col-sm-1  img-responsive"  />
                </a>
            </div>
        </div>
        <!--container del footer-->
    </footer>