@{
    ViewBag.Title = "Pregunta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container well">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#responder" role="tab" data-toggle="tab"> A responder</a></li>
    <li role="presentation"><a href="#meContestaron" role="tab" data-toggle="tab">Realizadas</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="responder">
      <h2> Preguntas a responder</h2>
      <br />
   @*   <div class="col-md-12"> <img src="img/plomero-avatar.jpg" width="50px" alt=""> <a href="#">Titulo de la publicacion</a>
        <div>
          <dl class="question" id="1">
            <dd class="txt"> <i class="glyphicon glyphicon-comment"></i> <span>Se puede hacer en um pago con tarjeta</span></dd>
          </dl>
        </div>
        <div class="row col-md-12">
          <div class="form-group col-md-10">
            <textarea class="form-control " name="questionText" id="questionText" cols="110" width="90%" title="responder">Escribe tu respuesta... 
            </textarea>
          </div>
          <div class="form-group col-md-2">
            <button  class="btn btn-primary btn-lg"  type="Submit">Enviar</button>
          </div>
        </div>
      </div>*@
    </div>
    <div role="tabpanel" class="tab-pane" id="meContestaron">
      <h2> Preguntas realizadas como cliente</h2>
      <br />
   @*   <div class="col-md-12"> <img src="img/plomero-avatar.jpg" width="50px" alt=""> <a href="#">Titulo de la publicacion</a> <br/>
        <dl class="question" id="6">
          <dd class="txt"> <i class="glyphicon glyphicon-comment"></i> <span>Hola tenes stock, cuando valen los lentes? Gracias</span> </dd>
          <dt class="answer"><i class="glyphicon glyphicon-comments"></i> </dt>
          <dd class="col-md-offset-1"> <i class="glyphicon glyphicon-user"></i> <span>Hola, tenemos stock. Los lentes salen $899. http://articulo.mercadolibre.com.ar/MLA-531762546-lentes-activos-3d-sony-tdg-br250-tienda-oficial-_JM. El producto se encuentra en promoción por Cybermonday + envío sin cargo. Aprovéchalo!  Saludos, Tienda Oficial Sony</span><span class="time"> - Hace 1 hora.</span></dd>
        </dl>
        <hr />
        <img src="img/plomero-avatar.jpg" width="50px" alt=""> <a href="#">Titulo de la publicacion</a> <br/>
        <dl class="question" id="5">
          <dd class="txt"> <i class="glyphicon glyphicon-comment"></i> <span>disculpame: en una respuesta vos decis que los lentes que se usan con este tv son pasivos, pero en la publicacion indicas que los lentes a usar son los TDG -BR250, y en todas partes veo que esos lentes no son pasivos, sino activos. como es? gracias y saludos.</span> </dd>
        </dl>
        <hr />
      </div>*@
    </div>
  </div>
</div>
