@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        @ViewBag.Mensaje
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        @ViewBag.Error
    </div>
}
<div id="ultimas-publicaciones">
    <h3>
        Ultimas publicaciones</h3>
    <div class="col-xs-3">
        <div class="thumbnail">
            <img src="../../Content/img/plomero.jpg" width="100" alt="imagen" />
            <div class="caption">
                <h4>
                    <a href="#">Pedro Gomez</a></h4>
                <span>Plomeria</span> <span class="badge">20</span>
                <br />
                <br />
                <span><a href="#">Gasista Matriculado Plomero Presupuestos Y Visitas Sin Cargo</a></span>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="thumbnail">
            <img src="../../Content/img/plomero.jpg" width="100" alt="imagen" />
            <div class="caption">
                <h4>
                    <a href="#">Marcos Aguirre</a></h4>
                <span>Electricista</span> <span class="badge">5</span>
                <br />
                <br />
                <span><a href="#">Electricista Matriculado Zona Sur</a></span>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="thumbnail">
            <img src="../../Content/img/plomero.jpg" width="100" alt="imagen" />
            <div class="caption">
                <h4>
                    <a href="#">Mario Yuni</a></h4>
                <span>Electricista</span> <span class="badge">3</span>
                <br />
                <br />
                <span><a href="#">Electricista Matriculado Capital Federal</a></span>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="thumbnail">
            <img src="../../Content/img/plomero.jpg" width="100" alt="imagen" />
            <div class="caption">
                <h4>
                    <a href="#">Roberto Peralta</a></h4>
                <span>Jardineria</span> <span class="badge">100</span>
                <br />
                <br />
                <span><a href="#">Jardinería - Paisajismo - Mantenimientos - Parquizados en zona oeste</a></span>
            </div>
        </div>
    </div>
    <center>
        <button type="button" class="btn btn-primary">
            Ver mas publicaciones</button>
    </center>
</div>
<hr>
<div id="prestadores-mejores">
    <h3>
        Prestadores mejor calificados</h3>
    <div class="col-xs-3">
        <div class="thumbnail">
            <img src="../../Content/img/plomero.jpg" width="100" alt="imagen" />
            <div class="caption">
                <h4>
                    <a href="#">Marcos Aguirre</a></h4>
                <span>Pintor</span> <span class="badge">5</span>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="thumbnail">
            <img src="../../Content/img/plomero.jpg" width="100" alt="imagen" />
            <div class="caption">
                <h4>
                    <a href="#">Marcos Aguirre</a></h4>
                <span>Electricista</span> <span class="badge">5</span>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="thumbnail">
            <img src="../../Content/img/plomero.jpg" width="100" alt="imagen" />
            <div class="caption">
                <h4>
                    <a href="#">Marcos Aguirre</a></h4>
                <span>Albañileria</span> <span class="badge">5</span>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="thumbnail">
            <img src="../../Content/img/plomero.jpg" width="100" alt="imagen" />
            <div class="caption">
                <h4>
                    <a href="#">Marcos Aguirre</a></h4>
                <span>Electricista</span> <span class="badge">5</span>
            </div>
        </div>
    </div>
    <center>
        <button type="button" class="btn btn-primary">
            Ver mas prestadores</button>
    </center>
</div>
<hr>
<div id="prestadores-zona">
    <h3>
        Prestadores de mi zona</h3>
    <div class="col-xs-3">
        <div class="thumbnail">
            <img src="../../Content/img/plomero.jpg" width="100" alt="imagen" />
            <div class="caption">
                <h4>
                    <a href="#">Marcos Aguirre</a></h4>
                <span>Cerrajeria</span> <span class="badge">5</span>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="thumbnail">
            <img src="../../Content/img/plomero.jpg" width="100" alt="imagen" />
            <div class="caption">
                <h4>
                    <a href="#">Marcos Aguirre</a></h4>
                <span>Fumigador</span> <span class="badge">5</span>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="thumbnail">
            <img src="../../Content/img/plomero.jpg" width="100" alt="imagen" />
            <div class="caption">
                <h4>
                    <a href="#">Marcos Aguirre</a></h4>
                <span>Colación de piscinas</span> <span class="badge">5</span>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="thumbnail">
            <img src="../../Content/img/plomero.jpg" width="100" alt="imagen" />
            <div class="caption">
                <h4>
                    <a href="#">Marcos Aguirre</a></h4>
                <span>Electricista</span> <span class="badge">5</span>
            </div>
        </div>
    </div>
    <center>
        <button type="button" class="btn btn-primary">
            Ver mas prestadores en mi zona</button>
    </center>
</div>
