/** CLASES GLOBALES **/

.float-left
{
    float: left;
}
.margin-top
{
    margin-top: 15px;
}



/** BASE **/

html
{
    /* para el footer fijo en la base */
    position: relative;
    min-height: 100%;
}

body
{
    background: url('../img/gray_jean.png'); /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 1000;
    transition: all 0.4s ease;
}

.header.shrink
{
    height: 80px;
    transition: all 0.4s ease;
}
.header.shrink #buscador
{
    width: 51%;
    margin: 0 auto;
    top: 22px;
    position: absolute;
    left: 29%;
    transition: all 0.4s ease;
}

.header.shrink #buscador .col-md-5
{
    margin-right: -15px;
}
.header.shrink #contenedor-logo img
{
    width: 70%;
}

.header.shrink #btnBuscar
{
    width: auto;
}
.header.shrink .log-reg-btn
{
    margin-top: -25px;
}

.portada, .header
{
    background: -webkit-linear-gradient(top,#f7f7f7,#f4f4f4);
    background: -moz-linear-gradient(top,#f7f7f7,#f4f4f4);
    background: -o-linear-gradient(top,#f7f7f7,#f4f4f4);
    background: -ms-linear-gradient(top,#f7f7f7,#f4f4f4);
    background: linear-gradient(to bottom,#f7f7f7,#f4f4f4);
    -webkit-box-shadow: 0 1px 1px 0 #aaa;
    box-shadow: 0 1px 1px 0 #aaa;
}

.cuerpo
{
    margin-top: 170px;
}

hr
{
    border-top: 1px solid #D2D2D2;
}

.header
{
    background: url('../img/index.jpg') no-repeat scroll center center transparent;
    margin-bottom: 50px;
}
.margin-top
{
    margin-top: 10px;
}

#contenedor-logo
{
    padding-top: 18px;
}

#buscador
{
    margin-top: -10px;
    margin-bottom: 5px;
}

#contenedor-botones-index li
{
    margin-left: 10px;
    margin-top: 37px;
}
#contenedor-botones-index span
{
    margin-right: 6px;
}

.portada
{
    background: url('../img/index.jpg') no-repeat center center;
    padding-bottom: 20px;
    color: #FFF;
    text-align: center;
    font-size: 1.2em;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}

.portada .container
{
    /* padding: 25px; */
}

.portada h2
{
    font-size: 3.2em;
    color: #FFF;
}
.portada p
{
    font-size: 1.6em;
    font-family: 'PT Sans' , 'Source Sans Pro' , 'Helvetica Neue' , Helvetica, Arial, sans-serif;
}
.portada .glyphicon-chevron-down
{
    font-size: 1.8em;
}
.glyphicon
{
    margin-right: 7px;
}
.contenedor-img
{
    max-height: 200px;
    overflow: hidden;
}
.contenedor-img > img
{
    min-height: 200px;
}
.user-menu
{
    margin-top: 1em;
}

.iconos-sociales img
{
    float: right;
    margin-left: 10px;
}

.precio-detalle
{
    font-size: 2em;
    font-style: italic;
    color: #0995B2;
}

.contratar-btn, .btnTel
{
    font-size: 1.1em;
}

.contratar-btn:before
{
    content: "\e013";
    margin-right: 7px;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.editar-btn
{
    position: absolute;
    right: 15px;
    top: 0;
}

.editar-btn:before
{
    content: "\270f";
    margin-right: 7px;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.avatar img
{
    height: auto;
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 0.8em;
    margin-right: 1em;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; /* -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2); */
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999,;
}

footer
{
    border: 0;
    line-height: 46px;
    border-style: solid;
    padding: 4px 0;
    background-color: rgba(63, 63, 63, 1);
    border-color: #e7e7e7;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 57px;
    overflow: hidden;
}

.mini-logo
{
    padding: 0;
}

.mini-logo img
{
    max-width: 48px;
    min-width: 40px;
}

.mini-logo img, .iconos-sociales img, footer img
{
    width: 80px;
}

footer
{
    font-size: 0.8em;
}
footer.transparente
{
    background-color: transparent;
}

footer.transparente, .footer.transparente .a
{
    color: #2CA6BF;
}

.footer.transparente .a:hover, .footer.transparente .a:focus
{
    color: #155E6D;
}

footer.transparente .container
{
    border-top: 1px dotted rgb(188, 188, 188);
    padding-top: 20px;
}


.listado-publicaciones strong
{
    font-size: 1.2em;
}

.listado-publicaciones h3
{
    margin-top: 5px;
}


.mensaje-sin-registros
{
    min-height: 300px;
}

.mensaje-sin-registros .text-muted
{
    padding-top: 130px;
}

/*PARA GOOGLE MAPS*/
.map_canvas
{
    width: 410px;
    height: 281px;
    margin: auto;
}

.ficha-publicante
{
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    padding: 20px;
    background-color: #0995B2;
    color: white;
    text-align: center;
}

.ficha-publicante > div > *
{
    color: #FFF;
}

.ficha-publicante .ubicacion
{
    border-top: 1px solid white;
    margin: 10px auto 0;
    padding: 10px 0 0;
}

.IdRubro.form-control
{
    margin-bottom: 8px;
}

#publicacion .titulo-descripcion
{
    margin-top: 0;
}

.btnTel
{
    font-size: 1.4em;
    font-weight: bold;
}

.tabla-publicaciones .btn-xs
{
    width: 80%;
    font-size: 0.6em;
}
.tabla-publicaciones input[type="checkbox"]
{
    top: 3px;
    position: relative;
}

